header {
    text-align: center;
}

h2 a {
    color: black;
}

button {
    width: 180px;
    margin: 10px;
}

.row {
    margin: 60px 0px;
}

.modal-content {
    top: 10%;
    margin: 0 auto;
    width: 50%;
    padding: 20px;
}

form {
    padding: 0px 10px;
}
